<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">浩然大廳藝文展</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="">所有年度</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">其他年度 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a routerLink="2016">2016 年度展覽</a></li>
            <li><a routerLink="2015">2015 年度展覽</a></li>
            <li><a routerLink="2014">2014 年度展覽</a></li>
            <li><a routerLink="2013">2013 年度展覽</a></li>
            <li><a routerLink="2012">2012 年度展覽</a></li>
            <li><a routerLink="2011">2011 年度展覽</a></li>
            <li><a routerLink="2010">2010 年度展覽</a></li>
            <li><a routerLink="2009">2009 年度展覽</a></li>
            <li><a routerLink="2008">2008 年度展覽</a></li>
            <li><a routerLink="2007">2007 年度展覽</a></li>
            <li><a routerLink="2006">2006 年度展覽</a></li>
            <li><a routerLink="2005">2005 年度展覽</a></li>
            <li><a routerLink="2004">2004 年度展覽</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
