<div *ngIf="detail[0] == 200">
  <div class="row" align="center">
    <div class="col-md-8 col-md-offset-2">
      <div id="myCarousel" class="carousel slide col-sm-8 col-md-8 col-lg-8">
        <div class="carousel-inner">
          <div *ngFor="let img of detail[1].Items" class="item" [ngClass]="{active: isActive(img)}">
            <img [src]="[img.ImgPath]" alt="{{ img.Title }}" class="fix-img">
            <div class="carousel-caption">{{ img.Title }}</div>
          </div>
        </div>
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev"></a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next"></a>
      </div>
      <div class="thumbnail col-sm-4 col-md-4 col-lg-4">
        <div class="caption">
          <div align="center">
            <h2>{{detail[1].Title}}</h2>
            <h4>{{detail[1].People}}</h4>
          </div>
          <div>
            <h3>{{detail[1].Begin}}~{{detail[1].End}}</h3>
            <h3>{{detail[1].Place}}</h3>
            <h3>{{detail[1].Description}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
